<?xml version="1.0" encoding="UTF-8" ?>
<resource dir="file:///android_asset/kr-script/module_control/feas" />
<group>
	<switch shell="hidden" title="FEAS（开关）" desc-sh="echo 是否在游戏内开启 performance 调速器">
		<get>run get_on-off.sh</get>
		<set>run set_on-off.sh</set>
	</switch>
</group>
<group id="app_list">
        <action reload="app_list" shell="hidden">
            <title>游戏内开启 performance 调速器的应用</title>
            <desc>配置开启 performance 调速器的(应用)名单</desc>
            <param name="apps" type="app" title="请选择你想要开启的应用，选择后使用下一个功能进行配置。" desc="点击确定后其它应用的配置可能会被清除，需要重新配置" multiple="multiple" value-sh="grep -Eo '[a-zA-Z0-9]+\.[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*' $feas_path/feas.conf" />
            <set>run apps.sh</set>
		<summary sh="grep -Eo '[a-zA-Z0-9]+\.[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*' $feas_path/feas.conf" />
        </action>
        <action reload="app_list" shell="hidden">
            <title>设置应用配置</title>
            <desc>先使用上面的功能添加包名，然后再进行设置</desc>
            <params>
                <param name="app_package_name" title="选择应用包名"
                    options-sh="grep -Eo '[a-zA-Z0-9]+\.[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*' $feas_path/feas.conf" />
            <param
                name="target_fps"
                type="seekbar"
                min="1"
                max="120"
                title="尽量声明游戏运行帧率"
                desc="">
            </param>
            </params>
            <set>run set_rules.sh</set>
        <summary sh="grep -E '[a-zA-Z0-9]+\.[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*' $feas_path/feas.conf" />
        </action>
</group>
<group>
        <page
            config="settings.xml"
            title="其他设置">
        </page>
</group>