<?xml version="1.0" encoding="UTF-8" ?>
<resource dir="file:///android_asset/kr-script/module_control/asopt" />
<group>
	<action shell="hidden">
		<title>放置方案</title>
		<desc>建议自行测试以选择更好的方案</desc>
			<param
			name="fallback"
			required="true"
			value-sh="sed -n 's/^fallback=\([^[:blank:]]*\).*/\1/p' /sdcard/Android/naki/asopt/asopt.conf"
			title=""
			desc="抢占优化，理论上表现更好。&#13;&#10;均衡负载，更接近官方调度。">
			<option value="0">抢占优化</option>
			<option value="1">均衡负载</option>
			</param>
			<param name="reboot" label="设置完自动重启设备" type="switch" desc="此设置重启才会生效。" />
			<set>sed -i "s/^fallback=.*/fallback=$fallback/" /sdcard/Android/naki/asopt/asopt.conf | sh ./kr-script/module_control/asopt/reboot.sh</set>
		<summary sh="sed -n 's/^fallback=0/抢占优化/p; s/^fallback=1/均衡负载/p' /sdcard/Android/naki/asopt/asopt.conf" />
	</action>
</group>
<group>
	<action shell="hidden">
		<title>实现</title>
		<desc>仅适用于内核不低于“高通5.10 联发科5.15”的平台</desc>
			<param
			name="pertask"
			required="true"
			value-sh="sed -n 's/^pertask=\([^[:blank:]]*\).*/\1/p' /sdcard/Android/naki/asopt/asopt.conf"
			title=""
			desc="亲和，仅遇到问题时使用。&#13;&#10;迁移，可使帧率更加平滑。">
			<option value="0">亲和</option>
			<option value="1">迁移</option>
			</param>
			<param name="reboot" label="设置完自动重启设备" type="switch" desc="此设置重启才会生效。" />
			<set>sed -i "s/^pertask=.*/pertask=$pertask/" /sdcard/Android/naki/asopt/asopt.conf | sh ./kr-script/module_control/asopt/reboot.sh</set>
		<summary sh="sed -n 's/^pertask=0/亲和/p; s/^pertask=1/迁移/p' /sdcard/Android/naki/asopt/asopt.conf" />
	</action>
</group>
<group>
        <page
            config="settings.xml"
            title="其他设置">
        </page>
</group>