<?xml version="1.0" encoding="utf-8"?>
<group title="模块与作者">
    <action
        shell="hidden"
        desc="点击打开模块作者的酷安主页"
        title="酷安：@nakixii">
        <set>run coolapk.sh</set>
    </action>
</group>
<group>
	<action>
		<title>查看配置文件</title>
		<set>
			if [ -f "/sdcard/Android/naki/asopt/asopt.conf" ]; then
				cat "/sdcard/Android/naki/asopt/asopt.conf"
			else
				echo "没有配置文件"
			fi
		</set>
	</action>
</group>