<?xml version="1.0" encoding="UTF-8" ?>
<resource dir="file:///android_asset/kr-script/module_control/qti" />
<group>
        <action shell="hidden">
		<title>ZRAM 大小</title>
		<desc>当 RAM 快不足时，会对部分数据进行压缩</desc>
		<param
			name="zram_size"
			title="拖动滑块设置 ZRAM 空间大小，0为关闭 ZRAM"
			desc="单位：GB"
			type="seekbar"
			min="0"
			max="10"
			value-sh="run get_zram_size.sh"/>
		<set>run set_zram_size.sh</set>
		<summary sh="run get_zram_size.sh" />
        </action>
        <action shell="hidden">
            <title>ZRAM 压缩算法</title>
            <desc>可设置的压缩算法取决于内核支持</desc>
            <params>
                <param name="algorithm" title="选择压缩算法"
                    options-sh="run algorithm.sh" />
            </params>
            <set>run set_algorithm.sh</set>
        <summary sh="run get_algorithm.sh" />
        </action>
</group>
<group id="app_list">
        <action reload="app_list" shell="hidden">
            <title>AdjShield 配置</title>
            <desc>防止给定进程被 Android LMK 杀死</desc>
            <param name="apps" type="app" title="列出您希望保持活动状态的应用程序" desc="只支持应用包名" multiple="multiple" value-sh="grep -Eo '[a-zA-Z0-9]+\.[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*' $qti_path/panel_adjshield.txt" />
            <set>run apps.sh</set>
		<summary sh="grep -Eo '[a-zA-Z0-9]+\.[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*' $qti_path/panel_adjshield.txt" />
        </action>
</group>
<group>
        <page
            config="settings.xml"
            title="其他设置">
        </page>
</group>