<?xml version="1.0" encoding="utf-8"?>
<group title="模块与作者">
    <action
        shell="hidden"
        desc="点击打开模块作者的酷安主页"
        title="酷安：@yc9559">
        <set>run coolapk.sh</set>
    </action>
</group>
<group>
	<action>
		<title>查看 ZRAM 配置文件</title>
		<set>
			if [ -f "/sdcard/Android/panel_qti_mem.txt" ]; then
				cat "/sdcard/Android/panel_qti_mem.txt"
			else
				echo "没有配置文件"
			fi
		</set>
	</action>
	<action>
		<title>查看 AdjShield 配置文件</title>
		<set>
			if [ -f "/sdcard/Android/panel_adjshield.txt" ]; then
				cat "/sdcard/Android/panel_adjshield.txt"
			else
				echo "没有配置文件"
			fi
		</set>
	</action>
	<action>
		<title>查看 AdjShield log</title>
		<set>
			if [[ -f "/sdcard/Android/log_adjshield.txt" ]]; then
				cat "/sdcard/Android/log_adjshield.txt"
			else
				echo "未发现log"
			fi
		</set>
	</action>
</group>