<?xml version="1.0" encoding="utf-8"?>
<group title="模块与作者">
    <action
        shell="hidden"
        desc="点击打开模块作者的酷安主页"
        title="酷安：@top大佬">
        <set>run coolapk.sh</set>
    </action>
</group>
<group>
        <page
            config="raccourcis.xml"
            title="添加快捷方式"
            desc="在桌面添加一些快捷开关（长按进行添加）">
        </page>
</group>
<group>
	<action>
		<title>运行testing</title>
		<desc>如发现模块BUG，执行此脚本文件，把结果截图给模块作者</desc>
		<set>sh /data/adb/modules/MiuiVariableThermal/testing.sh</set>
	</action>
	<action>
		<title>查看配置文件</title>
		<set>
			if [ -f "/data/adb/modules/MiuiVariableThermal/config.conf" ]; then
				cat "/data/adb/modules/MiuiVariableThermal/config.conf"
			else
				echo "没有配置文件"
			fi
		</set>
	</action>
	<action>
		<title>查看电流日志</title>
		<set>
			if [[ -f "/data/adb/modules/MiuiVariableThermal/current.txt" ]]; then
				cat "/data/adb/modules/MiuiVariableThermal/current.txt"
			else
				echo "未发现log"
			fi
		</set>
	</action>
	<action>
		<title>查看log</title>
		<set>
			if [[ -f "/data/adb/modules/MiuiVariableThermal/log.log" ]]; then
				cat "/data/adb/modules/MiuiVariableThermal/log.log"
			else
				echo "未发现log"
			fi
		</set>
	</action>
</group>