<?xml version="1.0" encoding="UTF-8" ?>
<resource dir="file:///android_asset/kr-script/module_control/Bypass_Charge" />
<group>
        <switch shell="hidden" title="旁路充电总开关">
        <desc>Y为开启旁路供电，N为关闭旁路供电</desc>
        <summary sh="sh ./kr-script/module_control/Bypass_Charge/summary_bypass_charge.sh" />
        <get>run get_bypass_charge.sh</get>
        <set>run set_bypass_charge.sh</set>
        </switch>
        <action shell="hidden">
		<title>启动旁路充电电量</title>
		<desc>数值为50则表示剩余电量大于50%再启用旁路充电，小于50%则不启用旁路充电</desc>
		<param
			name="start_bypass_charge_battery_capacity"
			title="拖动滑块设置电量百分比，0为不限制"
			desc="单位：％"
			type="seekbar"
			min="0"
			max="100"
			value-sh="run get_start_bypass_charge_battery_capacity.sh"/>
		<set>run set_start_bypass_charge_battery_capacity.sh</set>
		<summary sh="run get_start_bypass_charge_battery_capacity.sh" />
        </action>
        <switch shell="hidden" title="通电性能增强功能">
	<desc>通电时拉满处理器性能释放并关闭LPM，极致性能以提升游戏体验。</desc>
	<summary sh="sh ./kr-script/module_control/Bypass_Charge/summary_powered_on_performance_enhancements.sh" />
		<get>run get_powered_on_performance_enhancements.sh</get>
		<set>run set_powered_on_performance_enhancements.sh</set>
	</switch>
		<switch shell="hidden" title="只在屏幕亮起时启用旁路充电">
	<desc>此项为N则关闭屏幕后会继续启用旁路充电</desc>
	<summary sh="sh ./kr-script/module_control/Bypass_Charge/summary_screen_on_bypass_charge.sh" />
		<get>run get_screen_on_bypass_charge.sh</get>
		<set>run set_screen_on_bypass_charge.sh</set>
	</switch>
        <action shell="hidden">
            <title>充电电流</title>
            <desc>旁路充电时给电池充入的电流</desc>
            <param name="bypass_charge_current" title="0表示电池不供电，例如充入5w则改为1000000" desc="单位：μA" value-sh="sh ./kr-script/module_control/Bypass_Charge/get_bypass_charge_current.sh" />
            <set>run set_bypass_charge_current.sh</set>
		<summary sh="sh ./kr-script/module_control/Bypass_Charge/get_bypass_charge_current.sh" />
        </action>
</group>
<group id="app_list">
        <action reload="app_list" shell="hidden">
            <title>游戏旁路</title>
            <desc>检测到打开游戏则开启模拟旁路充电，以降低游戏时电池发热问题，关闭应用则恢复充电</desc>
            <param name="apps" type="app" title="应用保留后台会持续生效" desc="除了游戏外，其他应用也会生效，列出您希望开启旁路充电的应用" multiple="multiple" value-sh="grep -Eo '[a-zA-Z0-9]+\.[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*' /data/adb/modules/Bypass_Charge/GameList.txt" />
            <set>run apps.sh</set>
		<summary sh="grep -Eo '[a-zA-Z0-9]+\.[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*' /data/adb/modules/Bypass_Charge/GameList.txt" />
        </action>
</group>
<group>
        <page
            config="settings.xml"
            title="其他设置">
        </page>
</group>