<?xml version="1.0" encoding="utf-8"?>
<group>
    <action interruptible="false">
        <title>[Magisk] 旁路充电 10</title>
        <desc>模块配置目录：/data/adb/modules/Bypass_Charge</desc>
        <set>run install_module.sh</set>
        <params>
            <param name="reboot" label="刷入成功自动重启" type="switch" />
        </params>
    </action>
    <action
        shell="hidden"
        desc="点击打开模块作者的酷安主页"
        title="模块作者：酷安 @SutoLiu">
        <set>run coolapk.sh</set>
    </action>
</group>
<group title="">
	<action>
		<title>查看 ZRAM 配置文件</title>
		<set>
			if [ -f "/data/adb/modules/Bypass_Charge/system.prop" ]; then
				cat "/data/adb/modules/Bypass_Charge/system.prop"
			else
				echo "没有配置文件"
			fi
		</set>
	</action>
</group>