<?xml version="1.0" encoding="utf-8"?>
<resource dir="file:///android_asset/kr-script/magisk_tool/sync_dir" />

<group>
    <action>
        <title>同步目录</title>
        <desc>把任意目录实时同步到Download文件夹</desc>
        <param name="sync_dir" title="请添加需要同步的目录" desc="格式：'创建的文件夹名' '需要同步的目录'&#13;&#10;必须输入真实路径才会生效" value-sh="run sync_dir/value_sync_dir.sh" />
        <param name="reboot" label="设置完自动重启设备" type="switch" desc="此设置重启才会生效。" />
		<summary sh="run sync_dir/summary_sync_dir.sh" />
        <set>run sync_dir/set_sync_dir.sh</set>
    </action>
</group>