<?xml version="1.0" encoding="utf-8"?>
<group title="模块与作者">
    <action
        shell="hidden"
        desc="点击打开模块作者的酷安主页"
        title="酷安：@shadow3">
        <set>run coolapk.sh</set>
    </action>
</group>
<group title="">
	<action>
		<title>查看配置文件</title>
		<set>
			if [ -f "/data/media/0/Android/perapp-rs/config.toml" ]; then
				cat "/data/media/0/Android/perapp-rs/config.toml"
			else
				echo "没有配置文件"
			fi
		</set>
	</action>
	<action>
		<title>查看log</title>
		<set>
			if [[ -f "/data/media/0/Android/perapp-rs/error.log" ]]; then
				cat "/data/media/0/Android/perapp-rs/error.log"
			else
				echo "未发现log"
			fi
		</set>
	</action>
</group>