<?xml version="1.0" encoding="UTF-8" ?>
<resource dir="file:///android_asset/kr-script/module_control/about" />

    <group>
        <page
            link="https://h5.cloud.189.cn/share.html#/t/fyaqUnzA7Nzy"
            icon="kr-script/icons/mcc.png"
            summary-sh="run update.sh"
            desc=""
            title="MCC模块配置控制">
        </page>
    </group>

    <group>
        <page
            link="https://github.com/ZhangJinhui-baoji/MCC"
            icon="kr-script/icons/github.png"
            desc="点击进入GitHub"
            title="源代码项目地址">
        </page>
    </group>

    <group>
        <action
            shell="hidden"
            icon="kr-script/icons/coolapk.png"
            desc="点击打开软件作者的酷安主页"
            title="软件作者：酷安 @Plagues">
        <set>run coolapk_app.sh</set>
        </action>
        <action
            shell="hidden"
            icon="kr-script/icons/coolapk.png"
            desc="点击打开框架作者的酷安主页"
            title="框架作者：酷安 @嘟嘟斯基">
        <set>run coolapk_frame.sh</set>
        </action>
    </group>

    <group>
        <action
            shell="hidden"
            icon="kr-script/icons/qq.png"
            desc="QQ群号：979817842"
            title="有兴趣可以加入群聊一起搞机">
        <set>run qq.sh</set>
        </action>
        <page
            link="https://qr.alipay.com/fkx19197qomydskfpxws170?t=1703521412192"
            icon="kr-script/icons/AlipayGphone.png"
            desc="如果觉得不错，可以打赏作者一包辣条"
            title="打赏软件作者">
        </page>
    </group>
