<?xml version="1.0" encoding="UTF-8" ?>
<resource dir="file:///android_asset/kr-script/module_control/about" />

    <group title="关于软件">
        <action
            shell="hidden"
            icon="kr-script/icons/mcc.png"
            desc="点击进入网盘"
            title="MCC模块配置控制"
            warning="点击确定可前往网盘进行下载（网盘密码：zpk9）&#13;&#10;或前往GitHub进行下载（可能需要魔法上网）">
            <set>am start -a android.intent.action.VIEW -d "https://h5.cloud.189.cn/share.html#/t/fyaqUnzA7Nzy"</set>
        </action>
        <action
            shell="hidden"
            icon="kr-script/icons/github.png"
            desc="点击进入GitHub"
            title="源代码项目地址"
            warning="点击确定进入GitHub（可能需要魔法上网）">
            <set>am start -a android.intent.action.VIEW -d "https://github.com/ZhangJinhui-baoji/MCC"</set>
        </action>
    </group>

    <group title="软件作者">
        <action
            shell="hidden"
            icon="kr-script/icons/coolapk.png"
            desc="点击打开软件作者的酷安主页"
            title="软件作者：酷安 @Plagues">
        <set>run coolapk_app.sh</set>
        </action>
        <action
            shell="hidden"
            icon="kr-script/icons/coolapk.png"
            desc="点击打开框架作者的酷安主页"
            title="框架作者：酷安 @嘟嘟斯基">
        <set>run coolapk_frame.sh</set>
        </action>
    </group>
    <text>
        <slices>
        <slice align="center" break="true" bold="true" size="20" color="#ff0000">作者告知</slice>
        </slices>
    </text>
    <text>
        <title>更新日志</title>
    </text>
    <text>
        <summary sh="run update_log.sh" />
    </text>