<?xml version="1.0" encoding="utf-8"?>
<resource dir="file:///android_asset/kr-script/other_tool" />
<group>
    <action>
        <title>命令执行器</title>
        <params>
            <param name="CMD" title="输入命令点击确认即可，多行命令用键盘上的回车换行" desc="可通过which 命令、去查找命令是否存在" required="true" value-sh="cat $START_DIR/kr-script/other_tool/shell" />
        </params>
        <set>run shell.sh</set>
    </action>
</group>
<group>
    <action>
        <title>查看电池容量</title>
        <set>run battery_capacity.sh</set>
    </action>
</group>
<group>
    <switch shell="hidden" interruptible="false">
        <title>SELinux</title>
        <get>[[ `getenforce` = Enforcing ]] &#38;&#38; echo 1</get>
        <set>setenforce $state</set>
    </switch>
    <switch shell="hidden" auto-off="true" interruptible="false">
        <title>安卓Doze</title>
        <get>run get_doze.sh</get>
        <set>run set_doze.sh</set>
    </switch>
    <switch shell="hidden" interruptible="false">
        <title>CPU最高频率</title>
        <get>[[ `getprop sys.sptm.gover` = true ]] &#38;&#38; echo 1</get>
        <set>[[ $state = 1 ]] &#38;&#38; setprop sys.sptm.gover true || setprop sys.sptm.gover false</set>
    </switch>
</group>