<?xml version="1.0" encoding="UTF-8" ?>
<resource dir="file:///android_asset/kr-script/module_control/ram" />
<group>
    <switch shell="hidden" title="运存防线开关">
        <summary sh="sh ./kr-script/module_control/ram/summary_ram.sh" />
        <get>run get_ram.sh</get>
        <set>run set_ram.sh</set>
    </switch>
    <action shell="hidden">
        <title>运存防线阈值</title>
        <desc>可用内存剩余百分比开始清理后台</desc>
        <param
            name="avail_mem_percent"
            title="拖动滑块设置阈值"
            desc="单位：％"
            type="seekbar"
            min="0"
            max="100"
            value-sh="run get_avail_mem_percent.sh"/>
        <set>run set_avail_mem_percent.sh</set>
        <summary sh="run get_avail_mem_percent.sh" />
    </action>
</group>
<group id="app_list">
        <action reload="app_list" shell="hidden">
            <title>应用白名单</title>
            <desc>当内存低于阈值时，不会被运存防线杀掉的应用</desc>
            <param name="apps" type="app" title="选择白名单应用" desc="" multiple="multiple" value-sh="grep -Eo '[a-zA-Z0-9]+\.[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*' /data/adb/modules/ram/白名单.conf" />
            <set>run apps.sh</set>
		<summary sh="grep -Eo '[a-zA-Z0-9]+\.[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*' /data/adb/modules/ram/白名单.conf" />
        </action>
</group>
<group>
        <page
            config="settings.xml"
            title="其他设置">
        </page>
</group>