<?xml version="1.0" encoding="UTF-8" ?>
<resource dir="file:///android_asset/kr-script/module_control/QuantitativeStopCharging_switch" />
<group>
	<switch shell="hidden" title="开关定量停充">
		<get>run get_switch_quantitative_stop_charging.sh</get>
		<set>run set_switch_quantitative_stop_charging.sh</set>
	</switch>
</group>
<group>
	<action shell="hidden">
		<title>停止充电电量</title>
		<param name="switch" label="停止充电电量开关" type="switch" value-sh="sh ./kr-script/module_control/QuantitativeStopCharging_switch/value_stop_charging_the_battery_level.sh"/>
		<param
			name="stop_charging_the_battery_level"
			title="电量大于或等于该数值时停止充电"
			desc="范围：停止充电电量大于恢复充电电量，其它范围无效"
			type="seekbar"
			min="1"
			max="100"
			value-sh="sh ./kr-script/module_control/QuantitativeStopCharging_switch/get_stop_charging_the_battery_level.sh"/>
		<set>run set_stop_charging_the_battery_level.sh</set>
		<summary sh="sh ./kr-script/module_control/QuantitativeStopCharging_switch/summary_stop_charging_the_battery_level.sh" />
	</action>
	<action shell="hidden">
		<title>恢复充电电量</title>
		<param name="switch" label="恢复充电电量开关" type="switch" value-sh="sh ./kr-script/module_control/QuantitativeStopCharging_switch/value_restore_charging_power.sh"/>
		<param
			name="restore_charging_power"
			title="电量小于或等于该数值时恢复充电"
			desc="范围：停止充电电量大于恢复充电电量，建议间隔5-10以内"
			type="seekbar"
			min="1"
			max="100"
			value-sh="sh ./kr-script/module_control/QuantitativeStopCharging_switch/get_restore_charging_power.sh"/>
		<set>run set_restore_charging_power.sh</set>
		<summary sh="sh ./kr-script/module_control/QuantitativeStopCharging_switch/summary_restore_charging_power.sh" />
	</action>
</group>
<group>
	<action shell="hidden">
		<title>延时功能</title>
		<param
			name="delay_function"
			title="触发停止充电前，先继续充电一段时间，再停止充电，此功能一旦触发，倒计时中，无法停止，只有等待该倒计时结束后，才会触发停止充电，立即生效，谨慎填写"
			desc="默认值3为3秒（仅可填大于0的整数）"
			type="seekbar"
			min="1"
			max="60"
			value-sh="sh ./kr-script/module_control/QuantitativeStopCharging_switch/get_delay_function.sh"/>
		<set>run set_delay_function.sh</set>
		<summary sh="sh ./kr-script/module_control/QuantitativeStopCharging_switch/get_delay_function.sh" />
	</action>
</group>
<group>
	<switch shell="hidden" title="充满再停" desc-sh="echo 开启该功能后，模块'延时功能'自动失效（个别机型不支持，自测）">
		<get>run get_full_and_then_stop.sh</get>
		<set>run set_full_and_then_stop.sh</set>
	</switch>
	<switch shell="hidden" title="自动拔插" desc-sh="echo 每次充电时模块再自动拔插一次">
		<get>run get_automatic_insertion_and_removal.sh</get>
		<set>run set_automatic_insertion_and_removal.sh</set>
	</switch>
</group>
<group>
	<switch shell="hidden" title="开关温控模式">
		<get>run get_temperature_mode.sh</get>
		<set>run set_temperature_mode.sh</set>
	</switch>
	<action shell="hidden">
		<title>停止充电温度</title>
		<param
			name="stop_charging_temperature"
			title="电池温度大于或等于该数值时停止充电"
			desc="范围：停止充电温度大于恢复充电温度"
			type="seekbar"
			min="1"
			max="100"
			value-sh="sh ./kr-script/module_control/QuantitativeStopCharging_switch/get_stop_charging_temperature.sh"/>
		<set>run set_stop_charging_temperature.sh</set>
		<summary sh="sh ./kr-script/module_control/QuantitativeStopCharging_switch/get_stop_charging_temperature.sh" />
	</action>
	<action shell="hidden">
		<title>恢复充电温度</title>
		<param
			name="restore_charging_temperature"
			title="电池温度小于或等于该数值时恢复充电"
			desc="范围：停止充电温度大于恢复充电温度，建议间隔3度以上"
			type="seekbar"
			min="1"
			max="100"
			value-sh="sh ./kr-script/module_control/QuantitativeStopCharging_switch/get_restore_charging_temperature.sh"/>
		<set>run set_restore_charging_temperature.sh</set>
		<summary sh="sh ./kr-script/module_control/QuantitativeStopCharging_switch/get_restore_charging_temperature.sh" />
	</action>
</group>
<group>
        <page
            config="settings.xml"
            title="其他设置">
        </page>
</group>