<?xml version="1.0" encoding="utf-8"?>
<group>
    <!--<action interruptible="false">
        <title>[Magisk] QSC定量停充_独立开关版 20231204</title>
        <desc>模块配置目录：/data/adb/modules/QuantitativeStopCharging_switch</desc>
        <set>run install_module.sh</set>
        <params>
            <param name="reboot" label="刷入成功自动重启" type="switch" />
        </params>
    </action>-->
    <action
        shell="hidden"
        desc="点击打开模块作者的酷安主页"
        title="模块作者：酷安 @top大佬">
        <set>run coolapk.sh</set>
    </action>
</group>
<group title="">
	<action>
		<title>运行testing</title>
		<desc>如发现模块BUG，执行此脚本文件，把结果截图给模块作者</desc>
		<set>sh /data/adb/modules/QuantitativeStopCharging_switch/testing.sh</set>
	</action>
	<action>
		<title>查看配置文件</title>
		<set>
			if [ -f "/data/adb/modules/QuantitativeStopCharging_switch/config.conf" ]; then
				cat "/data/adb/modules/QuantitativeStopCharging_switch/config.conf"
			else
				echo "没有配置文件"
			fi
		</set>
	</action>
	<action>
		<title>查看log</title>
		<set>
			if [[ -f "/data/adb/modules/QuantitativeStopCharging_switch/log.log" ]]; then
				cat "/data/adb/modules/QuantitativeStopCharging_switch/log.log"
			else
				echo "未发现log"
			fi
		</set>
	</action>
</group>