<?xml version="1.0" encoding="UTF-8" ?>
<resource dir="file:///android_asset/kr-script/module_control/asguard" />
<group>
	<switch shell="hidden" title="无障碍服务守护开关">
		<get>
					if [[ $(ps -ef | grep '/huzeASGuard/' | grep -v grep | wc -l) != '0' ]]; then
						echo 1
					else
						echo 0
					fi
		</get>
		<set>
			if [[ ${state} -eq 0 ]]; then
				touch /data/adb/modules/huzeASGuard/disable
				ps -ef | grep '/huzeASGuard/' | grep -v grep | awk '{print &#36;2}' | xargs kill -9
			else
				[[ -f /data/adb/modules/huzeASGuard/disable ]] &#38;&#38; rm /data/adb/modules/huzeASGuard/disable
				if [[ $(ps -ef | grep 'ASGuard_Process.sh' | grep -v grep | wc -l) = '0' ]]; then
					nohup sh /data/adb/modules/huzeASGuard/service.sh &#38;
				fi
			fi
		</set>
	</switch>
</group>
<group>
	<resource file="kr-script/module_control/asguard/WriteConfig.sh" />
	<action shell="hidden">
		<title>运行模式</title>
		<param name="mo" value-sh="source /sdcard/Android/ASGuard.conf ; echo ${mode}" required="true" title="#A(Auto): 自动管理开启相应无障碍功能，即使不配置AS也可使用，适用于大部分场景&#13;&#10;#M(Monitor): 持续监控无障碍服务的启用应用，将被关闭的无障碍服务重新开启&#13;&#10;#F(Focus): 选择该模式在开机时不会自动打开无障碍服务，直到指定的APP处于焦点窗口时若app未打开无障碍服务，则将其打开&#13;&#10;#R(Refresh): 该模式为定时刷新开启状态，适用于scene等轻度且使用无障碍功能的APP&#13;&#10;请根据实际使用情况选择模式，这样可以帮助你把更多的电量花在需要的地方">
			<option value="A">Auto</option>
			<option value="M">Monitor</option>
			<option value="F">Focus</option>
			<option value="R">Refresh</option>
		</param>
		<set>
			sh ./kr-script/module_control/asguard/WriteConfig.sh 'mode' \${mo}
		</set>
		<summary sh="source /sdcard/Android/ASGuard.conf ; echo 当前运行模式：${mode}" />
	</action>
</group>
<group>
	<action shell="hidden">
		<title>无障碍功能受保护APP（实时生效）</title>
		<desc>在Auto模式具有最高优先级</desc>
		<param
			name="ASpackages"
			title="加入此项的APP不需要加入电池优化白名单APP列表"
			type="app"
			multiple="true"
			editable="false"
			value-sh="source /sdcard/Android/ASGuard.conf ; echo &#34;${AS}&#34;"/>
		<set>
			sh ./kr-script/module_control/asguard/WriteConfig.sh 'AS' &#34;\${ASpackages}&#34;
		</set>
		<summary sh="source /sdcard/Android/ASGuard.conf ; echo &#34;${AS}&#34;" />
	</action>
	<action shell="hidden">
		<title>电池优化白名单APP（重启模块生效）</title>
		<desc>配置开机后加入电池优化白名单的APP</desc>
		<param
			name="WhitelistPackages"
			title="约在开机解锁90秒后添加，加入无障碍功能受保护APP列表则不需要加入此项"
			type="app"
			multiple="true"
			editable="false"
			value-sh="source /sdcard/Android/ASGuard.conf ; echo &#34;${package_whitelist}&#34;"/>
		<set>
			sh ./kr-script/module_control/asguard/WriteConfig.sh 'package_whitelist' &#34;\${WhitelistPackages}&#34;
		</set>
		<summary sh="source /sdcard/Android/ASGuard.conf ; echo &#34;${package_whitelist}&#34;" />
	</action>
	<action shell="hidden">
		<title>监测周期</title>
		<desc>监测无障碍功能的频率周期 (当运行模式为R/M时有效)</desc>
		<param
			name="Time"
			title="M模式建议不要小于3，R模式建议不小于20，越小的数字意味着越高的性能开销，时间单位: M:秒 R:分钟"
			type="seekbar"
			min="1"
			max="60"
			value-sh="source /sdcard/Android/ASGuard.conf ; echo ${CTime}"/>
		<set>
			sh ./kr-script/module_control/asguard/WriteConfig.sh 'CTime' \${Time}
		</set>
		<summary sh="source /sdcard/Android/ASGuard.conf ; echo 当前设置：${CTime}" />
	</action>
</group>
<group>
	<action shell="hidden">
		<title>过滤APP列表</title>
		<desc>Auto模式下这些APP将被忽略</desc>
		<param
			name="exASpackages"
			title="当mode为A时过滤有效"
			type="app"
			multiple="true"
			editable="false"
			value-sh="source /sdcard/Android/ASGuard.conf ; echo &#34;${exAS}&#34;"/>
		<set>
			sh ./kr-script/module_control/asguard/WriteConfig.sh 'exAS' &#34;\${exASpackages}&#34;
		</set>
		<summary sh="source /sdcard/Android/ASGuard.conf ; echo &#34;${exAS}&#34;" />
	</action>
	<action shell="hidden">
		<title>过滤开关列表</title>
		<desc>任何模式下这些APP的开关将被忽略，一般用于APP存在多个开关的情况</desc>
		<param name="exswitch" multiple="multiple" value-sh="source /sdcard/Android/ASGuard.conf ; echo &#34;${exclude}&#34; ;" option-sh="sh ./kr-script/module_control/asguard/exswitch.sh">
		</param>
    <set>
        sh ./kr-script/module_control/asguard/WriteConfig.sh 'exclude' &#34;\${exswitch}&#34;
    </set>
    <summary sh='source /sdcard/Android/ASGuard.conf ; echo &#34;${exclude}&#34;' />
	</action>
</group>
<group>
	<switch shell="hidden">
		<title>清空电池优化白名单</title>
		<desc>开机90秒后将清空系统电池优化白名单并添加配置APP</desc>
		<summary>注意: 开启此功能可能会导致系统某些功能睡死，部分应用及桌面部件功能可能受影响</summary>
		<get>
			source /sdcard/Android/ASGuard.conf
			echo ${WhitelistCleaner}
		</get>
		<set>
			sh ./kr-script/module_control/asguard/WriteConfig.sh 'WhitelistCleaner' \${state}
		</set>
	</switch>
	<switch shell="hidden">
		<title>抓取Log</title>
		<desc>一般用于检查模块流程的问题</desc>
		<get>
			source /sdcard/Android/ASGuard.conf
			echo ${log}
		</get>
		<set>
			sh ./kr-script/module_control/asguard/WriteConfig.sh 'log' \${state}
		</set>
	</switch>
	<switch shell="hidden">
		<title>开机关闭所有无障碍</title>
		<desc>开机时关闭所有APP的无障碍服务</desc>
		<get>
			source /sdcard/Android/ASGuard.conf
			echo ${clean}
		</get>
		<set>
			sh ./kr-script/module_control/asguard/WriteConfig.sh 'clean' \${state}
		</set>
	</switch>
</group>
<group>
	<action shell="hidden">
		<title>无障碍简易管理</title>
		<desc>这里可以显示一些系统菜单内没有列出的无障碍选项</desc>
		<param name="EAST" multiple="multiple" value-sh="settings get secure enabled_accessibility_services | sed 's/:/\n/g' | sed '/^$/d'" option-sh="settings get secure enabled_accessibility_services | sed 's/:/\n/g' | sed '/^$/d'">
		</param>
		<set>
			EAST=$(echo ${EAST} | sed 's/ /:/g')
			settings put secure enabled_accessibility_services &#34;${EAST}&#34;
		</set>
		<summary sh="settings get secure enabled_accessibility_services | sed 's/:/\n/g' | sed '/^$/d'" />
	</action>
</group>
<group>
        <page
            config="settings.xml"
            title="其他设置">
        </page>
</group>