<?xml version="1.0" encoding="utf-8"?>
<group title="模块与作者">
    <!--<action interruptible="false">
        <title>[Magisk] ASGuard v6.1</title>
        <desc>模块配置目录：/sdcard/Android/magisk/asguard</desc>
        <set>run install_module.sh</set>
        <params>
            <param name="reboot" label="刷入成功自动重启" type="switch" />
        </params>
    </action>-->
    <action
        shell="hidden"
        desc="点击打开模块作者的酷安主页"
        title="酷安：@沍澤venmzvi">
        <set>run coolapk.sh</set>
    </action>
</group>
<group>
    <action shell="hidden">
        <title>自定义配置目录</title>
        <desc>自定义后会重定向到指定目录，不再使用我设置的目录</desc>
        <param name="custom_path" title="可输入目录绝对路径，也可以通过文件选择器长按选定目录&#13;&#10;禁止空格及非主流符号" desc="如果你安装的内置模块，则不需要更改，请自行根据需求更改目录" type="folder" editable="true" required="true" value-sh="cat kr-script/module_control/asguard/path" />
        <summary sh="cat kr-script/module_control/asguard/path" />
        <set>echo "$custom_path" > kr-script/module_control/asguard/path</set>
    </action>
</group>
<group title="">
	<action>
		<title>查看详细配置内容</title>
		<set>
			if [ -f "$asguard_path/ASGuard.conf" ]; then
				cat "$asguard_path/ASGuard.conf"
			else
				echo "没有配置文件"
			fi
		</set>
	</action>
	<action>
		<title>查看log</title>
		<set>
			if [[ -f "$asguard_path/log_ASG.txt" ]]; then
				cat "$asguard_path/log_ASG.txt"
			else
				echo "未发现log"
			fi
		</set>
	</action>
	<action>
		<title>查看过滤开关</title>
		<set>
			source "$asguard_path/ASGuard.conf"
			if [[ -n $(echo ${exclude}) ]]; then
				echo &#34;${exclude}&#34; | sed "/^$/d"
			else
				echo "未发现"
			fi
		</set>
	</action>
</group>
<group>
	<action>
		<title>删除log</title>
		<set>
			if [[ -f "$asguard_path/log_ASG.txt" ]]; then
				rm "$asguard_path/log_ASG.txt"
				echo "已删除"
			else
				echo "无log文件"
			fi
		</set>
	</action>
</group>