<?xml version="1.0" encoding="UTF-8" ?>
<resource dir="file:///android_asset/kr-script/module_control/uperf" />
<group>
	<action shell="hidden">
		<title>全局默认模式</title>
		<desc>设置全局默认规则</desc>
		<param name="default_mode" value-sh="sh ./kr-script/module_control/uperf/default_mode.sh" required="true" title="当显示未知模式时，一般情况下是你没有安装模块，还有就是模块已安装，配置文件被删除，还有一种可能，模块本身出错了或你没有正确安装">
			<option value="auto">自动模式</option>
			<option value="powersave">省电模式</option>
			<option value="balance">均衡模式</option>
			<option value="performance">性能模式</option>
			<option value="fast">极速模式</option>
		</param>
		<set>
			echo "${default_mode}" > /sdcard/Android/yc/uperf/cur_powermode.txt
		</set>
		<summary sh="sh ./kr-script/module_control/uperf/default_mode.sh" />
	</action>
</group>
<group id="app_list">
        <action reload="app_list" shell="hidden">
            <title>动态调度应用</title>
            <desc>配置动态调度(应用)名单</desc>
            <param name="apps" type="app" title="请选择你想要配置动态调度的应用，选择后使用下一个功能进行配置。" desc="点击确定后其它应用的配置可能会被清除，需要重新配置" multiple="multiple" value-sh="grep -Eo '[a-zA-Z0-9]+\.[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*' /sdcard/Android/yc/uperf/perapp_powermode.txt" />
            <set>run apps.sh</set>
		<summary sh="grep -Eo '[a-zA-Z0-9]+\.[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*' /sdcard/Android/yc/uperf/perapp_powermode.txt" />
        </action>
        <action reload="app_list" shell="hidden">
            <title>设置应用调度</title>
            <desc>先使用上面的功能添加包名，然后再进行设置</desc>
            <params>
                <param name="app_package_name" title="选择应用包名"
                    options-sh="grep -Eo '[a-zA-Z0-9]+\.[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*' /sdcard/Android/yc/uperf/perapp_powermode.txt" />
            <param name="set_mode" required="true" title="设置模式">
			<option value="powersave">省电模式</option>
			<option value="balance">均衡模式</option>
			<option value="performance">性能模式</option>
			<option value="fast">极速模式</option>
                </param>
            </params>
            <set>run set_mode.sh</set>
        <summary sh="grep -E '[a-zA-Z0-9]+\.[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)*' /sdcard/Android/yc/uperf/perapp_powermode.txt" />
        </action>
</group>
<group>
	<action shell="hidden">
		<title>息屏规则</title>
		<param name="off_screen_rule" value-sh="sh ./kr-script/module_control/uperf/read_off_screen_rule.sh" required="true" title="#powersave：省电模式&#13;&#10;#balance：均衡模式&#13;&#10;#performance：性能模式&#13;&#10;#fast：极速模式">
			<option value="powersave">省电模式</option>
			<option value="balance">均衡模式</option>
			<option value="performance">性能模式</option>
			<option value="fast">极速模式</option>
		</param>
		<set>run off_screen_rule.sh</set>
		<summary sh="sh ./kr-script/module_control/uperf/read_off_screen_rule.sh" />
	</action>
	<action shell="hidden">
		<title>默认规则</title>
		<param name="default_rule" value-sh="sh ./kr-script/module_control/uperf/read_default_rule.sh" required="true" title="#powersave：省电模式&#13;&#10;#balance：均衡模式&#13;&#10;#performance：性能模式&#13;&#10;#fast：极速模式">
			<option value="powersave">省电模式</option>
			<option value="balance">均衡模式</option>
			<option value="performance">性能模式</option>
			<option value="fast">极速模式</option>
		</param>
		<set>run default_rule.sh</set>
		<summary sh="sh ./kr-script/module_control/uperf/read_default_rule.sh" />
	</action>
</group>
<group>
        <page
            config="settings.xml"
            title="其他设置">
        </page>
</group>